<li><a href={% url "pie" %}>pie</a></li>
<li><a href={% url "violin" %}>violin</a></li>
<li><a href={% url "bar" %}>bar</a></li>
<li><a href={% url "histogram" %}>histogram</a></li>
<li><a href={% url "scatter_cat" %}>scatter (categorical as color-scheme)</a></li>
<li><a href={% url "scatter_cont" %}>scatter (continuous data as color-scheme)</a></li>
<li><a href={% url "scatter_3D_cat" %}>3D-scatter (categorical data as color-scheme)</a></li>
{# <li><a href={% url "scatter_3D_cont" %}>3D-scatter (continuous data as color-scheme)</a></li> #}

